@use '../../../sass/colors.scss' as *;
@use '../../../sass/fonts.scss' as *;

.section {
	text-align: center;
	padding: 2.3em 1.2em;
}

.title,
.desc {
	margin-top: 1em;
	line-height: 1.2;
}

.title {
	color: $neutral-0;
	font-size: 2.7rem;
}

.name {
	background: $gradient-text;
	background-clip: text;
	color: transparent;
}

.desc {
	color: $neutral-300;
	font-size: 1.8rem;
}

.email {
	color: $orange-500;
}

@media (min-width: 992px) {
	.title {
		font-size: 4.9rem;
	}

	.desc {
		padding: 0 10em;
		margin-top: 1.5em;
	}

	
}
