@use '../../../../sass/colors.scss' as *;

.section {
	position: relative;
	width: 100%;
	padding: 1em;
}

.ticket {
	background-image: url('../../../../images/pattern-ticket.svg');
	padding: 1em;
	background-size: contain;
	background-repeat: no-repeat;
}

.ticketNumber {
	position: absolute;
	rotate: 90deg;
	right: 4%;
	bottom: calc(50% - 0.5em);
}

.number {
	font-size: 2.3rem;
	color: $neutral-500;
}

.logo {
	width: 30px;
}

.leftUp,
.eventInfo,
.personInfo,
.leftDown,
.personGit,
.leftPart {
	display: flex;
	color: $neutral-0;
}

.leftPart {
	flex-direction: column;
	row-gap: 0.7em;
}

.leftUp {
	align-items: flex-start;
	column-gap: 0.8em;
}

.eventInfo {
	flex-direction: column;
	justify-content: flex-start;
	text-align: left;
}

.eventName {
	font-size: 2rem;
}

.eventDate,
.personGit {
	margin-top: 0.5em;
	color: $neutral-300;
	font-size: 1.3rem;
}

.leftDown {
	margin-top: 1em;
	column-gap: 0.7em;
}

.personInfo {
	flex-direction: column;
}

.personName {
	font-size: 1.7rem;
}

.personGit {
	align-items: center;
	column-gap: 0.3em;
}

.avatar {
	width: 40px;
	height: 40px;
	border-radius: 0.4em;
}
