@use '../../../sass/colors.scss' as *;
@use '../../../sass/fonts.scss' as *;

.form {
	padding: 0 0.8em 6em;
}

.avatarLabel {
	color: $neutral-0;
}

.avatarInput {
	display: none;
}

.uploadBox {
	margin-top: 0.7em;
}

.uploadIcon {
	padding: 0.5em;
	background-color: $transparent-icon;
	border-radius: 0.5em;
	border: 1px solid $neutral-700;
}

.customFileUpload,
.avatarErrorInfo,
.errorBox {
	display: flex;
	align-items: center;
}

.customFileUpload,
.formInput,
.submitBtn {
	width: 100%;
}

.customFileUpload,
.submitBtn,
.formInput {
	border-radius: 0.6em;
}

.customFileUpload {
	padding: 1em;
	flex-direction: column;
	row-gap: 0.6em;
	border: 1px dashed $neutral-500;
	background-color: $transparent-bg;
	cursor: pointer;
}

.uploadDesc {
	color: $neutral-500;
	font-size: 1.8rem;
	font-weight: $weights-500;
}

.avatarErrorInfo {
	margin-top: 0.6em;
}

.alertIcon,
.errorIcon {
	margin-right: 0.3em;
}

.errorInfo {
	color: $neutral-500;
	font-size: 1.18rem;
}

.formLabel,
.formInput {
	display: block;
}

.formLabel {
	margin-top: 1.2em;
	color: $neutral-0;

	&:nth-child(4) {
		margin-top: 1.5em;
	}
}

.formInput {
	margin-top: 1em;
	background-color: $transparent-bg;
	color: $neutral-300;
	border: 1px solid $neutral-500;
	padding: 1.2em;
}

.formInput:focus,
.submitBtn:focus {
	outline: thick double $neutral-700;
}

.submitBtn {
	padding: 0.7em 0;
	display: block;
	font-size: 1.9rem;
	letter-spacing: -1px;
	background-color: $orange-500;
	font-weight: $weights-800;
}

.errorBox {
	margin-top: 0.4em;
}

.errorText {
	color: $orange-700;
	font-size: 1.18rem;
}

.errorIcon {
	filter: invert(73%) sepia(43%) saturate(7498%) brightness(93%);
}
