@use './sass/reset';
@use './sass/fonts.scss' as *;

body {
	font-size: $label;
	font-family: 'Inconsolata', serif;
	background-image: url('./images/mobile/background-mobile.png');
	background-size: 150%;
	background-position: 100% 85%;
}

#root {
	display: flex;
	justify-content: center;
}

@media (min-width: 768px) {
	body {
		background-image: url('./images/tablet/background-tablet.png');
	}
}
@media (min-width: 992px) {
	body {
		background-image: url('./images/desktop/background-desktop.png');
		background-size: 110%;
		background-position: 60% 100%;
	}
}
