@use './sass/reset';
@use './sass/fonts.scss' as *;

body {
	font-size: $label;
	font-family: 'Inconsolata', serif;
	background-image: url('./images/background-mobile.png');
	background-size: cover;
	background-position: 0% 100%;
}

#root {
	display: flex;
	justify-content: center;
}
