.patterns {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.circles,
.lines,
.bottomLine,
.topLine {
	position: absolute;
}

.lines,
.squiggly-line {
	left: 0;
}

.circles {
	top: 50%;
	right: -15%;
	transform: translateY(-50%);
	width: 35%;
}

.lines {
	top: 0;
	width: 258%;
}

.bottomLine {
	width: 79%;
	bottom: 0;
}

.topLine {
	top: 4%;
	right: 0;
	width: 33%;
}
